@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Sans+Mono:wght@100..900&display=swaphttps://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Sans+Mono:wght@100..900&family=Sometype+Mono:ital,wght@0,400..700;1,400..700&display=swaphttps://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Sans+Mono:wght@100..900&family=Roboto+Slab:wght@100..900&family=Sometype+Mono:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

  body {
    background-color: '#00456D';
  }
  
  .gradient {
    background: linear-gradient(0deg, #2FD2CB, #0F102E);
    min-height: 100vh;
    /* height: 100vh; */
    min-width: 100vw;
    position: absolute;
  }

  .rotate {
    animation: rotation 10s infinite linear;
  }

  .spinning-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    position: relative;
}

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }